[Desktop Entry]
Type=Application
Name=galaxy-calculator
GenericName=Galaxy-Calculator
Comment=Galaxy Calculator by the Light Wizzard
Icon=galaxy-calculator
Exec=bin/galaxy-calculator
Terminal=false
Categories=Education;
Keywords=calculator;
Name[en_US]=galaxy-calculator.desktop
